/*
Color : http://www.google.fr/design/spec/style/color.html
*/
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}





body {
    background-color: #FAFAFA;
}
h1 {
    font-size: 1.7em;
}
body > header, content > header {
    height: 60px;
    position: relative;
    background-color: #F5F5F5;
    z-index: 1;
}
shadow {
    position: fixed;
    top:59px;
    left:0 ;
    right: 0;
    z-index:5;
    height: 1px;
}
shadow,  content > header {
    box-shadow: 0 0 3px rgba(0,0,0,0.75);
}

body > header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
}

body > header > h1, content > header > h1 {
    margin: auto 100px;
    display: inline-block;
    line-height: 60px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

header > nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    /*font-size: 4vmin;*/
}
header > nav > ul > li {
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

body > header > nav {
    position: absolute;
    margin: auto 10px;
    top: 1px;
    bottom: 0;
    /*line-height: 60px;*/
    font-size: 2em;
}

body > header > nav:first-child {
    left: 0;
}

body > header > nav:last-child {
    right: 0;
}

body > header > nav > ul > li {
    display: inline-block;
    padding: 0 10px;
}

icon {
    font-size: 45px;
    vertical-align: middle;
}

content > header {
    height: 40px;
    /*padding-top: 5px;*/
    /*padding: 0 20px;*/
    margin-bottom: 3px;
    z-index:9;
}

content > header > nav {
    font-size: 1.25em;
    line-height: 40px;
}

content > header > nav > ul > li {
    display: inline-block;
    min-width: 10%;
    text-align: center;
    padding: 0 5px;
    box-sizing: border-box;
    vertical-align: top;
}
content > header > nav > ul > li:hover {
    opacity: 0.9;
}

content {
    position: absolute;
    display: block;
    
    left: 0;
    right: 0;

    padding-top: 60px;
    height: 100%;
    box-sizing: border-box;

    background-position: center;
    background-size: cover;

}

content.heightauto {
    height: auto;
    min-height: 100%;
}

content.box {
    font-size: 0;
}

box {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 50%;
    /*float:left;*/
    cursor: pointer;
}

box > div {
    position: absolute;
    display: block;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.26), -2px 0 5px rgba(0,0,0,0.26);
    border-radius: 4px;

    overflow: hidden;
}

box > div > background {
 
    /* See js/hacks.js for Mobile fontsize when vmin isn't implemented */
    font-size: 50vmin;
    opacity: 0.1;
    position: absolute;
    bottom: -33%;
    color: black;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

box > div >  div {
    
    display: table;
    height: 100%;
    width: 100%;
}

box > div > div > text {
    position: relative;
    z-index: 1;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 6vmin;
    font-weight: bold;
    word-break: break-word;
}

box.color0 > div {
    background-color: #33B5E5;
}

box.color1 > div {
    background-color: #99CC00;
}

box.color2 > div {
    background-color: #FFBB33;
}

box.color3 > div {
    background-color: #FF4444;
}

librairy {
    display: block;
    /*width: 100%; /*95%*/
    margin: auto;
    font-size: 0;
}

book {
    position: relative;
    display: inline-block;
    font-size: 20px;

    width: 49%;
    margin: 0.5%;
    /*padding: 10px;*/
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    vertical-align: top;
    background-color: #FFFFFF;

    
    box-shadow: 0 2px 3px rgba(0,0,0,0.26), -2px 0 5px rgba(0,0,0,0.26);
    border-radius: 4px;
}

book:hover {
    opacity: 0.9;
}

book > h1 {
    position: relative;
    text-align: left;
    padding-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    /*padding-top: 100px;
    padding-bottom: 20px;*/
    font-family: 'robotoregular';
    font-weight: normal;
}

book > illustration {
    display: inline-block;
    width: 100%;
    height: 200px;

    background-position: center;
    background-size: cover;
}

book > synopsis {
    position: relative;
    display: block;
    padding-left: 2%;
    font-family: 'robotoregular';
}

book > categories {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 2%;
    margin-right: 2%;
    text-align: right;
    z-index: 1;
}

book > categories > categorie {
    display: inline-block;
    padding: 2px;
    margin:0 2px;
}

book > background {
    font-size: 10em;
    opacity: 0.1;
    position: absolute;
    bottom: 0;
    right:0;
    z-index: 0;
    visibility: hidden;
}

box.end {
    position: absolute;
    background-color: #3F51B5;
    width: 100%;
    height: auto;
    bottom: 0;
    top:0 ;
    cursor: default;
}
box.end > div {
    box-shadow: none;
}
box.end > div > div > text {
    font-size: 10vw;
    font-weight: normal;
}
box.end > div > background {
    bottom: -15%;
}
box.end:hover {
    opacity: 1;
}

speak {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80vmin;
    height: 80vmin;
    margin: auto;
    cursor: pointer;
}

speak:hover {
    opacity: 0.5;
}

.clickable {
    cursor: pointer;
}
.clickable:hover {
    opacity: 0.9;
}

.all, .tous {
    background-color: #FAFAFA;
}
.aventure {
    background-color: #FFD54F;
}
.sciencefiction, .sf {
    background-color: #64B5F6;
}
.fantaisie {
    background-color: #4DB6AC;
}
.polar {
    background-color: #90A4AE;
}
.enfance {
    background-color: #F06292;
}
.moyen-age {
    background-color: #A1887F;
}