.box {
  width: 50%; height: 50%; float: left;

  /*magic centering here!*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 3em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);    
}

html, body, .full{
  height: 100%;
}